<h1>El autor de esta página se llama Alexander Trujillo</h1>
<p>Ingeniero de Telecomunicación y entusiasta de la tecnolog&iacutea</p>
<img id='imagen' src='https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/2/005/0b9/0a3/3062ea0.jpg'>
<br>
<iframe id='video' width="320" height="240" src="https://www.youtube.com/embed/WeO96_QY21k" frameborder="0" allowfullscreen></iframe>
