<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Quiz</title>
    <link rel='icon' type='image/png' href='/icono.png' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Quiz: El juego de las preguntas></h2>

    <p>Su respuesta es <%=respuesta%> </p>
    <a href='/quizes/question'> Intentelo de nuevo </a>
  </body>
</html>
